# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Media / Static
media/
staticfiles/

# Python tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/