{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}فروشگاه طلا{% endblock %}</title>

    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/main.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

</body>

</html>